{% load static %}
<div class="container-fluid px-0">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner bg-info" role="listbox">
            <div class="carousel-item active">
                <div class="d-flex flex-column align-self-start align-items-center justify-content-start min-vh-100"
                     style="background-image: url('https://via.placeholder.com/1200x796'); background-size: 100% 100%; background-repeat: no-repeat">
                    <div class="d-flex flex-column align-self-start align-items-center justify-content-center bg-white rounded p-3 my-5 text-dark">
                        <h1 class="display-1">ONE</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor expedita magni natus.</p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="d-flex flex-column align-self-center align-items-center justify-content-center min-vh-100"
                     style="background-image: url('https://via.placeholder.com/1200x796'); background-size: 100% 100%; background-repeat: no-repeat">
                    <div class="d-flex flex-column align-self-center align-items-center justify-content-center bg-white rounded p-3 my-5 text-dark">
                        <h1 class="display-1">Two</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor expedita magni natus.</p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="d-flex flex-column align-self-end align-items-center justify-content-end min-vh-100"
                     style="background-image: url('https://via.placeholder.com/1200x796'); background-size: 100% 100%; background-repeat: no-repeat">
                    <div class="d-flex flex-column align-self-end align-items-center justify-content-center bg-white rounded p-3 my-5 text-dark">
                        <h1 class="display-1">Three</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor expedita magni natus.</p>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>