{% extends 'base/base.html' %}
{% load static i18n %}

{% block title %}
    {{ request.user.username }} - Change Password
{% endblock %}


{% block content %}
    {% include 'base/header.html' %}
    {% include 'base/navbar.html' %}
    <div class="container-fluid mt-5 mb-5">
        <div class="row">
            <div class="col-md-3 position-fixed-side mb-3">
                {% include 'settings/setting_sidebar.html' %}
            </div>
            <div class="col-md-7 offset-md-3 mb-3">
                <h3>Password Change</h3>
                <hr>
                <form method="post">
                    {% csrf_token %}
                    {{ form }}
                    <div class="d-flex justify-content-center">
                        <button class="btn btn-primary mt-3 w-75 center" type="submit">{% trans 'Save changes' %}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% include 'base/footer.html' %}
{% endblock %}


{% block script %}

{% endblock %}